/* Full page center layout */
.edit-container {
   display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Box design */
.edit-box {
  background: #fff;
  padding: 30px;
  width: 380px;
  border-radius: 12px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
}
.edit-box h2 {
          text-align: center;
          margin-bottom: 20px;
        }
        .edit-box input {
          width: 100%;
          padding: 10px;
          margin-bottom: 10px;
          border: 1px solid #ccc;
          border-radius: 6px;
        }
           button {
          width: 100%;
          padding: 12px;
          background-color: #2874f0;
          color: white;
          border: none;
          border-radius: 6px;
          font-size: 16px;
          cursor: pointer;
        }

        button:hover {
          background-color: #1a5acb;
        }

       
        .errormsg{
          color: red;
        }
        