.mobiles-section {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px;
  background: #ffffff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin: 15px 0px;
  
}
.mobiles-section  img{
  width:33%;
  display: flex;
}