.banner-section {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
  background: #eee;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 70px;
  background: #fff;
  border-radius: 4px;
  border: none;
  font-size: 22px;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  opacity: 0.9;
   color: #000;
}

.left {
  left: 0px;
}

.right {
  right: 0px;
}

.nav-arrow:hover {
  background: #f2f2f2;
}

.bottom-scroll {
  position: absolute;
  bottom: 4px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 6px;
}

.scroll-bar {
  width: 20px;
  height: 5px;
  background: #d1d1d1;
  border-radius: 4px;
  transition: 0.4s;
}

.scroll-bar.active {
  background: #000;
  width: 50px;
}
