.footersection {
  display: flex;
  justify-content: space-between;
  background: #172337;
  color: #fff;
  padding-top: 40px;
  margin: 10px 0px;
}

.footer-top{
    display: flex;
  justify-content: space-between;
  align-items: flex-start;         
  padding: 10px 10px;
  gap: 40px;          
}
.footer-col{
    gap :10px;
    padding: 10px 10px;

}