.best-deals-section {
 display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background: #ffffff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin: 15px 0px;
}

.left-80 {
  width: 80%;
}

.left-80 h2 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}

.product-row {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.product-card {
  width: 18%;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}

.product-card p {
  margin-top: 5px;
  font-size: 15px;
  font-weight: 500;
}

.product-card span {
  font-size: 14px;
  color: #040504;
  font-weight: 600;
}

.right-20 {
  width: 20%;
}

.right-20 img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
