.header {
  display: flex;
  justify-content: space-between;
  padding: 12px 30px;
  background: #ffffff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  
}

.header-search input {
  width: 420px;
  padding: 15px 20px;
  border: 1px solid #ccc;
}

.header-right {
  display: flex;
  gap: 25px;
}
 .boldColor {
 font-weight: bold
}
.impactLetter {
color: red
}